/* Apply box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Set font family for body text */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Add margin to main content */
main {
  margin-top: 1%;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: gray;
}

/* Profile picture styles */
.header > img {
  max-width: 50px;
  border-radius: 30px;
}

/* Navigation menu styles */
.nav {
  display: flex;
  margin: 10px 0;
}

.nav > li {
  padding: 0 10px;
}

.nav > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav > li > a:hover {
  color: black;
  cursor: grab;
}

/* Input field styles */
input[type=text] {
  width: 30%;
}

input[type=text]:focus {
  background-color: black;
}

input[type=email] {
  width: 30%;
}

input[type=email]:focus {
  background-color: rgb(14, 16, 18);
}

textarea[name=message] {
  width: 30%;
}

textarea[name=message]:focus {
  background-color: black;
}

/* Section styles */
section {
  padding: 5px;
  text-align: left;
}

/* Heading styles */
h1 {
  font-size: 30px;
  margin: 5px auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Project styles */
.project img {
  width: 50%;
  height: auto;
  margin-bottom: 5px;
}

.project h3 {
  font-size: 10px;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 10px;
}

/* Form styles */
form input,
form textarea {
  display: block;
  width: 60%;
  padding: 5px;
  margin-bottom: 5px;
}

form button {
  color: #fff;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Custom cursor for project image */
#my-image {
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  /* Header styles */
  header {
    flex-direction: column;
    align-items: center;
  }

  /* Adjust navigation menu for smaller screens */
  .nav {
    display: flex;
    margin: 10px 0;
  }

  .nav > li {
    padding: 0 10px;
  }

  .nav > li > a {
    text-decoration: none;
    color: white;
  }

  .nav > li > a:hover {
    color: black;
    cursor: grab;
  }

  /* Adjust input fields for smaller screens */
  input[type=text] {
    width: 100%;
  }

  input[type=email] {
    width: 100%;
  }

  textarea[name=message] {
    width: 100%;
  }
}
